In [2]:
import pandas as pd
df = pd.DataFrame({'filename' :  ['test0.dat', 'test2.dat'], 
                                  'm': [12, 13], 'n' : [None, None]})
df2 = pd.DataFrame({'filename' :  'test2.dat', 'n':16}, index=[0])

# this overwrites the first row but we want to update the second
# df.update(df2)

# this does not update anything
df.loc[df.filename == 'test2.dat'].update(df2)

print(df)

    filename   m     n
0  test0.dat  12  None
1  test2.dat  13  None

In [3]:
df.loc[df.filename == 'test2.dat', 'n'] = df2[df2.filename == 'test2.dat'].loc[0]['n']
df

    filename   m     n
0  test0.dat  12  None
1  test2.dat  13    16

In [16]:
df.loc[df.filename == 'test0.dat', 'm']= "adios"
df

    filename      m     n
0  test0.dat  adios  None
1  test2.dat  2.187    16

In [5]:
def actualiza_valor_fila(tabla,fila_valor,fila,columna,valor):
    tabla.loc[tabla[f"{fila_valor}"]== fila,columna]= valor

In [6]:
actualiza_valor_fila(df,"filename","test0.dat","m","prueba")

In [61]:
df

    filename       m     n
0  test0.dat  prueba  None
1  test2.dat      13    16

In [62]:
def actualiza_valor_fila(tabla,fila_valor,columna,valor):
    tabla.loc[fila_valor,columna] = valor

In [63]:
actualiza_valor_fila(df,"test2.dat","m","Juan")

In [13]:
df

            filename       m     n
0          test0.dat  prueba  None
1          test2.dat      13    16
test2.dat        NaN    Juan   NaN

In [14]:
df.loc["test0.dat","m"]="Antonio"

In [15]:
df

            filename        m     n
0          test0.dat   prueba  None
1          test2.dat       13    16
test2.dat        NaN     Juan   NaN
test0.dat        NaN  Antonio   NaN

In [16]:
df.filename

0            test0.dat
1            test2.dat
test2.dat          NaN
test0.dat          NaN
Name: filename, dtype: object

In [7]:
import os
from dotenv import load_dotenv
load_dotenv()
import requests


def getFromGithub():
    url = "https://api.themoviedb.org/3/search/movie?api_key=c734ee865c6f0e6e56f5f18ae5d63c73&language=en-US&query=Ride%20a%20Wild%20Pony&page=1&include_adult=false"
    
    res = requests.get(url)
    print(res.url)
    return res.json()

In [8]:
prueba1= getFromGithub()
prueba1

https://api.themoviedb.org/3/search/movie?api_key=c734ee865c6f0e6e56f5f18ae5d63c73&language=en-US&query=Ride%20a%20Wild%20Pony&page=1&include_adult=false

{'page': 1,
 'total_results': 1,
 'total_pages': 1,
 'results': [{'popularity': 2.187,
   'id': 103765,
   'video': False,
   'vote_count': 6,
   'vote_average': 6.4,
   'title': 'Ride a Wild Pony',
   'release_date': '1975-11-02',
   'original_language': 'en',
   'original_title': 'Ride a Wild Pony',
   'genre_ids': [12],
   'backdrop_path': '/i4E8gtvy4vHL3QDnk3m9VuJR7dr.jpg',
   'adult': False,
   'overview': "Scott, a poor farm boy, is given a wild pony from a wealthy ranch owner's herd to ride to and from school. Scott and his pony soon become an inseparable team, until one day the pony suddenly disappears. Soon after, the ranch owner's handicapped daughter Josie has a wild pony especially trained to pull her cart. But Scott is convinced that Josie's pony is actually his, which leads to a court battle that divides their small Australian town. One child must ultimately lose the pony when true ownership is decided.",
   'poster_path': '/w2il8FdXIzKhiGvjSrJ5mp37yK2.jpg'}]}

In [9]:
prueba1.keys()

dict_keys(['page', 'total_results', 'total_pages', 'results'])

In [10]:
prueba1["results"][0]["popularity"]

2.187

In [14]:
def actualiza_valor_fila(tabla,fila_valor,fila,columna,valor):
    tabla.loc[tabla[f"{fila_valor}"]== fila,columna]= valor
actualiza_valor_fila(df,"filename","test2.dat","m",prueba1["results"][0]["popularity"])

In [15]:
df

    filename       m     n
0  test0.dat  prueba  None
1  test2.dat   2.187    16